@using Blazored.Toast.Configuration
@inherits LayoutComponentBase

<PageTitle>FencingLive</PageTitle>

<div class="page">
    <div class="sidebar" style="background: firebrick">
        <NavMenu />
    </div>

    <main>
        @*<div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>*@

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
<BlazoredToasts
    Position="ToastPosition.TopRight"
    Timeout="2"
    IconType="IconType.FontAwesome"
    SuccessClass="success-toast-override"
    InfoClass="info-toast-override"
    SuccessIcon="fa fa-thumbs-up"
    ErrorIcon="fa fa-bug"
    WarningIcon="fa fa-warning"
    InfoIcon="fa fa-info-circle"
    ></BlazoredToasts>
